@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #312E3C;
    color: #fff;
    font-family: Roboto;
}

.navbar {
    background: rgb(126,85,242);
    background: linear-gradient(180deg, rgba(126,85,242,1) 0%, rgba(125,84,242,1) 50%, rgba(126,85,242,1) 100%);
}
.nav-item {
    margin-right: 20px;
    margin-left: 20px;
}
.nav-socials a {
    color: #fff;
}
.nav-socials a:hover {
    color: #848484;
}

.hero {
    margin: 0 auto;
    text-align: center;
}
.hero h1 {
    font-size: 55px;
}
.hero p {
    font-size: 22px;
    font-weight: 400;
    color: #cfcfcf;
    width: 80%;
    margin: 0 auto;
}
.sam {
    width: 70%;
    margin: 0 auto;
    border-radius: 0 0 25px 25px;
}
.view-more-button {
    padding: 25px 30px;
    font-size: 22px;
    border: none;
    border-radius: 20px;
    background: #7E55F2;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
}
.view-more-button i {
    margin: 0;
}
.view-more-button:hover {
    transform: scale(1.025);
    transition: .3s;
}
.view-more-button a {
    color: #fff;
}
.hero a {
    text-decoration: none;
    color: #7E55F2;
}
.hero a:hover {
    text-decoration: underline;
}

.experience {
    background: rgb(130,87,173);
    background: linear-gradient(90deg, rgba(130,87,173,1) 0%, rgba(153,96,152,1) 50%, rgba(130,87,173,1) 100%);
}
.card {
    background: rgb(45,43,54);
    background: linear-gradient(90deg, rgba(45,43,54,1) 0%, rgba(58,55,73,1) 50%, rgba(45,43,54,1) 100%);
    margin: 0 auto;
    color: #fff;
    max-width: 65%;
    border-radius: 30px;
    margin-bottom: 75px!important;
}
.card-body {
    padding: 0;
}
.card img {
    width: 100%!important;
    margin: 0;
}
.first-card img,
.third-card img {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.second-card img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.card h1 {
    font-size: 40px!important;
}
.card p {
    font-size: 20px;
    color: #cfcfcf;
    width: 85%;
}
.about-me p {
    font-size: 25px;
}
.samp-div {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.text-div {
    padding: 55px;
}
.card button i {
    font-size: 15px;
    margin: 5px;
}

.contact {
    padding: 80px 0 0 0!important;
}
.contact h1 {
    font-size: 40px;
    width: 90%;
}
.contact-info {
    color: #cfcfcf;
    font-size: 20px;
}
.copyrights {
    font-size: 15px;
    color: #cfcfcf;
}
.invisible-text {
    color: #312E3C;
    display: flex;
}
.invisible-text p {
    margin-right: 10px;
}
.invisible-text h1 {
    font-size: 2px!important;
    width: 20px;
    height: 10px;
}
.socials a {
    color: #7E55F2;
    font-size: 30px;
}
.socials a:hover {
    color: red;
    transition: .3s;
}


@media screen and (min-width: 576px) {
    .first-nav-item {
        margin-left: 0;
    }
}

@media screen and (max-width: 1200px) {
    .card p {
        margin: 0 auto;
    }
    .card h1 {
        font-size: 30px!important;
    }
    .card {
        max-width: 60%;
    }
    .card img {
        border-radius: 0;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    .card .first-card {
        flex-direction: column-reverse;
    }
    .samp-div {
        display: block;
    }
    .third-card {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 992px) {
    .card p {
        margin: 0 auto;
        width: 100%;
    }
    .card {
        max-width: 70%;
    }
    h1 {
        font-size: 40px!important;
    }
}

@media screen and (max-width: 768px) {
    .sam {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .nav-socials {
        margin-left: 20px;
        margin-top: 10px;
    }
    .card {
        max-width: 90%;
        min-height: 100px!important;
    }
}

@media screen and (max-width: 511px) {
    h1 {
        font-size: 40px!important;
    }
    p {
        font-size: 20px!important;
    }
    .view-more-button {
        font-size: 20px;
        padding: 20px 25px;
    }
}

@media screen and (max-width: 554px) {
    .card {
        padding: 0;
    }
    .card img {
        margin-bottom: 20px;
    }
    .card h1 {
        font-size: 25px!important;
        margin: 15px auto!important;
        width: 80%;
    }
    .card p {
        font-size: 18px!important;
    }
    .copyrights {
        font-size: 15px!important;
    }
}