@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter-Regular.ttf);
}

body {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}